project = "infra-XXXXX"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser.pub"
disk_image = "reddit-base"
zone = "europe-west3-a"
public_key_path_appuser1 = "~/.ssh/appuser.pub"
public_key_path_appuser2 = "~/.ssh/appuser.pub"
public_key_path_appuser3 = "~/.ssh/appuser.pub"
count = 1
